@use 'variaveis';

.header {
    background-color: variaveis.$principalColor;
    padding: 32px 16px 8px 0;


    border-bottom: outset 2px  variaveis.$primaryTextColor;

    
    &__title {
        text-align: center;
        font-weight: bold;
        color: variaveis.$primaryTextColor;
        font-size: 40px;
    } 
    

    &__list {
        text-align: center;
        margin-top: 8px;

        &__div {
            display:flex;
            justify-content: space-between;
        }

        &__item {
            margin: 8px;
            display: inline;

            &__link {
                text-decoration: none;
                color: variaveis.$primaryTextColor;
                font-weight: bold;

                &:hover {
                    color: rgb(161, 161, 161);
                }
            }
        }

 
    }

    &__register {

       text-align: end;

        &__button {
            cursor: pointer;
            padding: 8px;
            border: none;
            border-radius: 8px;
            margin-left: 8px;
            background-color: variaveis.$buttonBackgroundColor;
            color: variaveis.$primaryTextColor;

            &:hover {
                background-color: variaveis.$secondaryTextColor;
            }
        }
    }
}