@use 'variaveis';

.sinopse {
    padding: 3.2vw; 

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            padding-left: 32px;
            font-size: 32px;
        }

        &__text {
            padding-left: 32px;
            color: variaveis.$primaryTextColor;
        }
    }

    img {
        width: 400px;
    }

}